language: ruby
rvm:
- 2.6.3
env:
  global:
    - CC_TEST_REPORTER_ID=21bb68f10a2e76bf0f5900574f30703e9237639a08da7f1db2560a8f6dc721b1
services:
- sqlite3
before_script:
- bundle exec rails db:create
- bundle exec rails db:migrate
- curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
- chmod +x ./cc-test-reporter
- "./cc-test-reporter before-build"
install: 
- nvm install node
# - node -v
# - npm i -g yarn
- yarn
script:
# - bundle exec rails webpacker:compile
- bundle exec rspec
after_script:
- "./cc-test-reporter after-build -t simplecov --exit-code $TRAVIS_TEST_RESULT"
deploy:
# provider: heroku
# skip_cleanup: true
#   api_key:
#     secure: lcUOlLmFzT6s84woqdWcTDxWs9fVk7/JzoczJpYzXoDLk7FbSAlRHB5/6+j5tCOtV4XhGGoXUg/n1yvV25bjpZ68zZYpp8M1o9/aAB6wD2jYxwg5H56AvSu6gBld8CgGZz6z/ww+xuMQhOi1x/FrpvojEvkyqKO3EYN4EEzRUBJiA0PR61X9tkaMnwzViOts1+db3Se9j7w5EHdqq90pYTgHgGVTUE6W75Qr3x/wPEQaKALbyeUAB9KYxLJkLEGL0t/lCF0Rw1FaI4C+5JABD/ZXqG9Vz+4fSuvgiZAS+WPdTxNhYX5uL8po+CGs9Q0WDHCvTHqt2iO6uLaU2Zk8N8f7d4i+9MPHZSgeHMqrxu+sh0Uly9/dU9/JIAuRTOdXgHc9S4s+0+nz+jYLRTZae8yt1bL9W9/B8snuKtzb6bxCA52wnLqxLJHy25JVzIQ/5qGPj0/NaRyuudouHfU9wg4jakik+5vqoVcJL+BQVIxT3c4JzpL74ZT1QTdRUhmLZ1Efa7ZSFuO/+LnZcdfuW80kJLDemjUaTz/y26tKVR6QtoPB/0lNGzRI2R8ePZ/1oKwR8e8J+1sMoNDNhphEPBrgEuu+yVgxANGOE/IZO/8zfXr6LjiFWxGcfPZXfQF6fIVr2t8nh9pkpvZGzzKwxCmCnFCyWxsb4Yp75IZLHqc=
# app: wanderlist-makers
#   on:
#     repo: https://github.com/Megscode/Wanderlist.git