    <% provide :head_tags do %>
      <script>
        document.addEventListener('DOMContentLoaded', function(){
          initUserLocation()
          <% @lat %> = pos.lat  
          <% @lng %> = pos.lng  
          console.log(<%=@lat%>)
        })
      </script>
<% end %>
    <h2>Welcome, <%= current_user.email %></h2>
    <h1>where would you like to go?</h1>
    <input id="input" type="text" placeholder="Search Box">
    <button type="button" id="submit">submit</button>
    <button id="get-location">Use my location</button>
    <div id="detected-location"></div>
    <h1>Had a great day out recently and want to share it?</h1>
    Create <%= link_to 'New Route', new_route_path %>
    Nearby <%= button_to 'Nearby route', nearby_path(:lat=>@lat, :lng=>@lng)  %>


