<h1 class="display-1">Wanderlist</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<p class="lead">
  Hey Liz and Dafna and David and Richard
</p>
<blockquote class="blockquote text-center">
  <p class="mb-0">livin it up in maps dream team</p>
  <footer class="blockquote-footer">Meggo <cite title="a coder girl">coder girl</cite></footer>
</blockquote>

<img src="https://images.pexels.com/photos/326807/pexels-photo-326807.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="..." class="img-fluid">
