<% provide :head_tags do %>
  <script>
    document.addEventListener('DOMContentLoaded', function(){
      initUserLocation()
    })
  </script>
<% end %>

<div class="container-fluid bg">
    <p class="h-3 display-4 text-light text-center">Outside lies magic.</p>
</div>

<div class="py-4 container-fluid grey-bg">
<div class="container py-5">
<div class="row">
  <div class="col-sm-6">
    <div class="card p-4 rounded-0 border-0">
      <div class="card-body">
        <p class="h3">Where would you like to go?</p>
        <input id="pac-input" type="text" class="form-control" placeholder="Search Box">
         <div id="search" class="mt-3"></div>
         <div>
          <button type="button" id="submit" class="btn btn-lg btn-outline-dark rounded-0 my-3 mx-1 rounded-0">Search location</button>
          <button type="button" id="get-location" class="btn btn-lg btn-outline-dark rounded-0 my-3 mx-1 justify-content-right">Use my location</button>
        </div>
    </div>
  </div>
</div>

<div class="col-sm-6">
  <div class="card p-4  rounded-0 border-0">
    <div class="card-body">
      <p class="h3">Had a great day out you want to share?</p>
       <%= link_to 'Create route', new_route_path, class: "btn btn-lg btn-outline-dark rounded-0 my-4" %>
      </div>
    </div>
  </div>
</div>
</div>
</div>