// Place all the styles related to the Routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#map, #map-nearby {
    width: 100%;
    height: 80vh
}

// #map-nearby {
//   height: 400px;  /* The height is 400 pixels */
//   width: 600px;  /* The width is the width of the web page */
//  }
  
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}
  
#infowindow-content .title {
  font-weight: bold;
}
  
#infowindow-content {
  display: none;
}
  
#map #infowindow-content {
  display: inline;
}
  
.pac-card {
  margin: 20px 20px 0 0;
  border-radius: 0px 0 0 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}
  
// #pac-container {
//   padding-bottom: 12px;
//   margin-right: 12px;
// }
  
// .pac-controls {
//   display: inline-block;
//   padding: 5px 11px;
// }
  
// .pac-controls label {
//   font-family: Roboto;
//   font-size: 13px;
//   font-weight: 300;
// }
  
// #pac-input {
//   background-color: #fff;
//   font-family: Roboto;
//   font-size: 15px;
//   font-weight: 300;
//   margin-left: 12px;
//   padding: 0 11px 0 13px;
//   text-overflow: ellipsis;
//   width: 400px;
// }
  
// #pac-input:focus {
//   border-color: #4d90fe;
// }
  
// #title {
//   color: #fff;
//   background-color: #4d90fe;
//   font-size: 25px;
//   font-weight: 500;
//   padding: 6px 12px;
// }

#target {
  width: 345px;
}

#hidden {
  display: none;
}